<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wpf01_ShowMap.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wpf01_ShowMap.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Wpf01_ShowMap.MySettings>
            <setting name="bolChangeFactory_AtFindNewTicket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bolChangeFactory_AtRegularly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="intChangeFactory_TimeSpan" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="intReloadDBData_TimeSpan" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="intSoundAlert_TimeSpan" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="intSearchCondition_SelectNo" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dtSearchCondition_DateFrom" serializeAs="String">
                <value>2018-05-07</value>
            </setting>
            <setting name="dtSearchCondition_DateTo" serializeAs="String">
                <value>2018-08-01</value>
            </setting>
            <setting name="intSearchCondition_DateRecentrySpan" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="strLastShowed_Factory" serializeAs="String">
                <value>THI</value>
            </setting>
            <setting name="strLastShowed_Language" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="intLastShowed_TicketList" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="strLastShowed_TicketMarkType" serializeAs="String">
                <value>Status</value>
            </setting>
        </Wpf01_ShowMap.MySettings>
    </userSettings>
    <applicationSettings>
        <Wpf01_ShowMap.MySettings>
            <setting name="Fixed_strUserExecFactory" serializeAs="String">
                <value>THI</value>
            </setting>
            <setting name="Fixed_intUserSecID_ForKKPUser" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Fixed_strUserConnDBEnvCD" serializeAs="String">
                <value>Product</value>
            </setting>
            <setting name="Fixed_strInstallerExePath" serializeAs="String">
                <value>\\10.195.1.19\industry_05_app</value>
            </setting>
        </Wpf01_ShowMap.MySettings>
    </applicationSettings>
</configuration>
